In [30]:
from jax import grad
import pandas as pd
import jax.numpy as np

data = pd.read_csv("E:/Coursera/Calculus for Machine Learning/prices.csv")
df = pd.DataFrame(data)
df.head()

,date,price_supplier_a_dollars_per_item,price_supplier_b_dollars_per_item
0,1/02/2016,104,76
1,1/03/2016,108,76
2,1/04/2016,101,84
3,1/05/2016,104,79
4,1/06/2016,102,81

In [31]:
prices_a = np.array(df["price_supplier_a_dollars_per_item"])
prices_b = np.array(df["price_supplier_b_dollars_per_item"])

In [32]:
def f(omega):
    value = prices_a * omega + prices_b * (1-omega)
    return value
f(1)

Array([104, 108, 101, 104, 102, 105, 114, 102, 105, 101, 109, 103,  93,
        98,  92,  97,  96,  94,  97,  93,  99,  93,  98,  94,  93,  92,
        96,  98,  98,  93,  97, 102, 103, 100, 100, 104, 100, 103, 104,
       101, 102, 100, 102, 108, 107, 107, 103, 109, 108, 108],      dtype=int32)

In [33]:
def L(omega):
    return 1/len(prices_a) * np.sum((f(omega) - np.mean(f(omega)))**2)

In [59]:
omega_array = np.linspace(0,1,1001,endpoint=True)
N = 1001
def L_omega_array(omega_array):
    N = len(omega_array)
    new_array = np.zeros(N)
    for i in range(N):
        ans = L(omega_array[i])
        new_array = new_array.at[i].set(ans)
    return new_array
new_array = L_omega_array(omega_array)

In [60]:
new_array[0]

Array(110.72, dtype=float32)

In [63]:
i_optimized  = new_array.argmin()
omega_optimized = omega_array[i_optimized]
L_optimized = new_array[i_optimized]
omega_optimized,L_optimized

(Array(0.702, dtype=float32), Array(9.24972, dtype=float32))